<div id="profileContainer">



<% if current_student.present? %>
<div class="profile">
  <h2> <%= current_student.first_name %> <%= current_student.last_name %> </h2>
    <div id="ProfileBackground">
      <span id="ProfilePic"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
  <p> E-mail: <%= current_student.email %></p>
  </div>
  <center>
    <%= link_to (edit_student_registration_path(current_student)) do %>
      <button class="editProfileButton">Edit Profile</button>
    <% end %>
  </center>
<% end %>


<% if current_teacher.present? %>
<div class="profile">
  <h2> <%= current_teacher.first_name %> <%= current_teacher.last_name %> </h2>
    <div id="ProfileBackground">
      <span id="ProfilePic"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
  <p> E-mail: <%= current_teacher.email %></p>
  </div>
  <center>
  <%= link_to (edit_teacher_registration_path(current_teacher)) do %>
    <button class="editProfileButton">Edit Profile</button>
    <% end %>
    </center>
  <% end %>
</div>
