<div id="profileContainer">

 <div class="profile">

<% if current_student.present? %>
  <h2> <%= current_student.first_name %> <%= current_student.last_name %> </h2>
  <p> E-mail: <%= current_student.email %></p>
  </div>
  <center>
    <%= link_to (edit_student_registration_path(current_student)) do %>
      <button class="editProfileButton">Edit Profile</button>
    <% end %>
  </center>
<% end %>

<div class="TeacherProfile">
<% if current_teacher.present? %>
  <h2> <%= current_teacher.first_name %> <%= current_teacher.last_name %> </h2>
  <p> E-mail: <%= current_teacher.email %></p>
  </div>
  <center>
  <%= link_to (edit_teacher_registration_path(current_teacher)) do %>
    <button class="editProfileButton">Edit Profile</button>
    <% end %>
    </center>
  <% end %>
</div>
