<div class="attendance-main-container">
  <h2><%= @course.name %></h2>
  <h3>Student Attendance</h3>
  <div class="attendances">
    <% @students.each do |student| %>
      <%  percent = student.attender_percent(@course.id) %>
      <% color_green = ((percent / 100) * 255).to_i %>
      <% color_red = 255 - color_green %>
      <%= link_to(attender_path(:student_id => student.id, :course_id => @course.id)) do %>
       <div class="attendance">
         <p><%= student.full_name %></p>
         <div class="attendance-bar-container">
          <p class="percent"><%= percent.to_i %>%</p>
           <div class="attendance-bar-holder small">
             <div class="attendance-bar" style="width: <%= percent %>%; background-color:rgb(<%= color_red %>, <%= color_green %>, 0)"></div>
           </div>
         </div>

       </div>
       <% end %>

    <% end %>
  </div>

</div>
