<h2>Repeat Pattern</h2>
<%= form_for(class_pattern) do |f| %>
  <%= f.hidden_field(:course_id) %>
  <%= f.label(:start_date) %>
  <%= f.date_field(:start_date) %>
  <%= f.label(:end_date) %>
  <%= f.date_field(:end_date) %>
  <%= f.label(:time) %>
  <%= hidden_field_tag(:pattern_timezone_offset) %>
  <div class="input-group clockpicker">
    <% time = class_pattern[:time] ? class_pattern[:time].localtime.strftime("%H:%M") : DateTime.now.strftime("%H:%M") %>
    <%= f.time_field(:time, :value => time) %>
  </div>
  <div class="check-boxes-container">
    <% [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday].each do |day| %>

    <div class="check-box-container">
      <%= f.label(day) %>
      <%= f.check_box(day) %>
    </div>

    <% end %>
  </div>
  <div class="date-buttons">
    <%= f.submit(class_pattern.id ? "Edit Pattern" : "Create Pattern") %>
    <% if class_pattern.id %>
      <%= link_to "Delete Pattern", delete_class_pattern_path(:id => class_pattern.id),  method: :delete %>
    <% end %>
  </div>

<% end %>
