


<input type="checkbox" id="menuToggle">

<div id="topNav">
  <label for="menuToggle" class="menu-icon">&#9776;</label>
  <img id="brandImg" draggable="false" src="/assets/whiteLogo.png"/ />
</div>

<nav class="menu">
      <a href="/"><i class="fa fa-user" aria-hidden="true">&#160;</i>Profile</a>
      <a href="/"><i class="fa fa-book" aria-hidden="true">&#160;</i> Course</a>
      <% if current_student %>
      <%= link_to(destroy_student_session_path, :method => :delete) do %>

      <i class="fa fa-sign-out" aria-hidden="true">&#160;</i>Log Out
      <% end %>
      <% else %>
      <%= link_to(destroy_teacher_session_path, :method => :delete) do %>

      <i class="fa fa-sign-out" aria-hidden="true">&#160;</i>Log Out
      <% end %>
      <% end %>

</nav>


<% if current_teacher.present? %>

  <h3>Teacher : <%= current_teacher.first_name %> <%= current_teacher.last_name %></h3>
  <%= link_to "Create a new Course", new_course_path %>
  <% current_teacher.courses.each do |course| %>
     <div class="course">
      <%= link_to "Course: #{course.name}", course_path(course) %>
      <br>
      <%= link_to "Edit this course", edit_course_path(course) %>
      <br>
      <%= link_to "Delete this post", course, method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
    <br>
  <% end %>
<% end %>

<% if current_student %>
  <h3>Student: <%= current_student.first_name %> <%= current_student.last_name %></h3>
  <% @courses.each do |course| %>
     <div class="course">
      <%= link_to "Course: #{course.name}", course_path(course) %>
      <br>
      <%= button_to "Register in this course", register_course_path(current_student, course) %>
      <br>
    </div>
    <br>
  <% end %>
<% end %>
