<%= link_to "Go back to all courses", courses_path %>
<%= link_to "Edit", edit_course_path(@course) %>

<h1>Course: <%= @course.name %></h1>
<p>School: <%= @course.school %></p>

<% if current_student.present? %>
  <button id="checkin">Check in</button>
<% end %>

<p>Description: <%= @course.description %></p>

<h3>Teacher: <%= @course.teacher.first_name %> <%= @course.teacher.last_name %></h3>

<%= hidden_field_tag(:lat, @course.lat) %>
<%= hidden_field_tag(:lng, @course.lng) %>

<div id="map"></div>

