<% if (current_student || current_teacher) && !@no_nav %>
<input type="checkbox" id="menuToggle">

<div id="topNav">
  <label for="menuToggle" class="menu-icon">&#9776;</label>
  <img id="brandImg" draggable="false" src="/assets/whiteLogo.png"/ />
</div>

<nav class="menu">
      <a href="/"><i class="fa fa-user" aria-hidden="true">&#160;</i>Profile</a>
      <a href="/"><i class="fa fa-book" aria-hidden="true">&#160;</i> Course</a>
      <% if current_student %>
      <%= link_to(destroy_student_session_path, :method => :delete) do %>

      <i class="fa fa-sign-out" aria-hidden="true">&#160;</i>Log Out
      <% end %>
      <% else %>
      <%= link_to(destroy_teacher_session_path, :method => :delete) do %>

      <i class="fa fa-sign-out" aria-hidden="true">&#160;</i>Log Out
      <% end %>
      <% end %>

</nav>
<% end %>

<%= link_to "Go back to all courses", courses_path %>

<% if current_teacher %>
  <%= link_to "Edit", edit_course_path(@course) %>
<% end %>

<h1>Course: <%= @course.name %></h1>
<p>School: <%= @course.school %></p>

<% if current_student %>
  <button id="checkin">Check in</button>
  <h1 id="message"></h1>
  <%= hidden_field_tag(:student_id, current_student.id) %>
<% end %>

<p>Description: <%= @course.description %></p>

<h3>Teacher: <%= @course.teacher.first_name %> <%= @course.teacher.last_name %></h3>

<%= hidden_field_tag(:lat, @course.lat) %>
<%= hidden_field_tag(:lng, @course.lng) %>

<div id="map"></div>
