<%= link_to "Go back to all courses", courses_path %>

<% if current_teacher %>
  <%= link_to "Edit", edit_course_path(@course) %>
<% end %>

<h1>Course: <%= @course.name %></h1>
<p>School: <%= @course.school %></p>

<% if current_student %>
  <button id="checkin">Check in</button>
  <h1 id="message"></h1>
  <%= hidden_field_tag(:student_id, current_student.id) %>
<% end %>

<p>Description: <%= @course.description %></p>

<h2>Teacher: <%= @course.teacher.first_name %> <%= @course.teacher.last_name %></h2>

<%= hidden_field_tag(:course_id, @course.id) %>
<%= hidden_field_tag(:lat, @course.lat) %>
<%= hidden_field_tag(:lng, @course.lng) %>

<div id="map"></div>

<% if current_teacher %>
  <h2>Enrolled students</h2>
  <% @students.each do |student| %>
    <p> <%= link_to "#{student.first_name}#{student.last_name} ------- attendance %" %></p>
  <% end %>
<% end %>

<div id='modal'>
  <section>
    <p>Loading</p>
  </section>
</div>

