<div id="signUpBody">

  <div id="siteIndexContainer">

    <div id="siteInnerContainer">
      <img  id="newSessionBrand" draggable="false" src="/assets/whiteLogo.png" />
      <br />
      <br />
      <br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="firstNameSignUpContainer"class="fieldsign">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, id: 'firstNameSignUp'%>
  </div>
  <div class="lastNameSignUpContainer" class="fieldsign">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, id: 'lastNameSignUp'%>
  </div>

  <div class="emailSignUpContainer" class="fieldsign">
    <%= f.label :email %><br />
    <%= f.email_field :email, id: 'emailSignUp', autofocus: true %>
  </div>

  <div class="passwordSignUpContainer" class="fieldsign">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, id: 'passwordSignUp', autocomplete: "off" %>
  </div>

  <div class="password_confirmationSignUpContainer" class="fieldsign">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, id: 'password_confirmationSignUp', autocomplete: "off" %>
  </div>

  <div class="SignUpSubmitContainer" class="actions">
    <%= f.submit "Sign Up", id: 'signUpSubmit' %>
  </div>
<% end %>

<%# render "devise/shared/links" %>

<%#siteInnerContainer %>
</div>
  <%#siteIndexContainer %>
  </div>

<%#signUpBody %>
</div>
